.survey-background {
    background-image: url('/images/cush-background-3.jpg');
}

.description {
    background-color: white;
    opacity: 0.9;
    border: solid;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
}

.md-button.md-raised {
    width: 380px;
    min-width: 88px;
    border: solid;
}