.md-headline {
    color: white;
}

.button-cta {
    -webkit-appearance: none;
    background-color: #e4002b;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #e4002b;
    box-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.btn.btn-outline-danger.admin {
    float: right;    
    color: #6b6d6d;
    margin: 15px;
    border: none;
}

.header {
    height: 80px;
    margin-top: 17px;
    margin-left: 20px;
}

.banner {
    border-radius: 0.25em;
}
.survey-header {
    height: 190px;
    margin: auto;
    opacity: .85;
}

.header-image {
    max-height: 200px;
}

.admin-image {
    /* max-height: 100px; */
    max-width: 200px;

}
.md-button.header-btn {
    color: #6B6D6D;
}


.build-survey-pic{
    max-height: 261px;
}

.navbar-nav {
    display: inline-block;
    width: 100%;
}
  
.navbar-nav>li {
     display: inline-block;
}

#logout {
    float: right;
}

.icon {
    width: 14px;
    height: 14px;
    fill: #e4002b;
  }

#popChart {
   zoom: 50%;
}

.card.admin-review-cards {
    background-color: #e4002b;
    color: white;
}
.card-text.admin {
    color: white;

}
/* survey stlying V */

.nav-tabs {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: none;
    border-bottom: none;
    display: row;
    margin-left: 200px;
    margin-top: 60px;
    color: black;
}

.survey-tabs {
    border-top: 3px;
    border-radius: 3px;
    border-left: 2px;
    border-right: 2px;
    border-top-style: ridge;
    border-right-style: ridge;
    border-left-style: ridge;
    border-bottom-style: none;
    padding-right: 5px;
    padding-left: 5px;
    border-color: rgb(221, 217, 217);
    background-color:rgb(247, 242, 242);
    color: black;
  }

  .well-md {
    background-color: rgb(247, 242, 242);
    text-align: center;
    margin-left: 200px;
    margin-bottom: 60px;
    border-radius: 5px;
    padding-bottom: 60px;
    opacity: none;
}

.survey-background {
    background-image: url('/images/cushman-wakefield-buildings.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.survey-background-long {
    background-image: url('/images/red-city.jpg');
    background-size: 100% 50%;
}

.survey-head {
    background-image: url('/images/red-cushman-wakefield-buildings.png');
}

.brand-survey-questions {
    font-weight: bold;
    margin-bottom: 2px;
}
.active.survey-tabs {
    background-color: #e4002b;
}

.tab-no-decor {
    text-decoration: none;
    color: black;
}

.tab-no-decor:hover {
    text-decoration: none;
    color: black;
}
.active.tab-no-decor {
    color: white;
}

/* Begin Slider styling */

.slider-values {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: normal;
    padding: 5px;
    border-top: 20px;
    border-bottom: 20px;
}

.slider-location {
    width: 600px;
    margin-left: 100px;
    font-weight: normal;
}

.slider-amenities {
    width: 600px;
    margin-left: 100px;
    font-weight: normal;
}

.slider-brand {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 600px;
    font-weight: normal;   
}

.slider-retention {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 600px;
    font-weight: normal;   
}

.slider-conclusion {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 600px;
    font-weight: normal;   
}

/* End Slider styling */

.smallInput {
    width: 40px;
    border-radius: 5px;
}

.largeText {
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.survey-questions {
    font-weight: bold;
    margin-bottom: 50px;
}

/* Begin dropDown styling */

.demographicsDropdowns {
    margin-top: 15px;
    margin-bottom: 25px;
}

.locationDropDowns {
    margin-top: 15px;
    padding-bottom: 20px;
}

.amenitiesDropdown {
    width: 60px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.retentionDropdown {
    margin-top: 15px;
    padding-bottom: 20px; 
}

/* End DropDown styling */

.finishPageBackground {
    background-image: url('/images/cushman-landing-blank.png');
}

.finishPageH1 {
    color: white;
    padding: 60px;
}


.progress {
    width: 700px;
    margin-left: 200px;
}

.amenitiesWordBlock {
    padding-bottom: 10px;
}


/* End survey styling ^ */

/* Landing page styling*/

.no_underline {
    text-decoration: none;
    color: black;
}

.no_underline:hover {
    text-decoration: none;
    color: #6b6d6d;
}

.jumbotron {
    /* background-image: url('/images/cushman-landing-cut.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FC3257; */
    /* height: 18em; */
    color: white;
}

.card {
    background-color: #A7A8AA;
    color: white;
}

.card.main {
    background-color: #E4002B;
    color: white;
}
.landing {
    background-color: white;
    /* background: linear-gradient(#e4002b, black); */
    background-repeat: repeat;
    /* background-image: url('/images/people.png'); */
    /* background-size: 1100px; */
    background-attachment: fixed;
    background-size: auto;
    padding: 29px;
    color: #6b6d6d;
}

.description {
    background-color: white;
    opacity: 0.97;
    border: solid;
    border-color: #6b6d6d;
    border-radius: 6px;
    padding: 10px;
    color: #6b6d6d;

}

.heading {
    color: white;
    /* background-color: rgba(0, 0, 0, 0.452);     */
    margin-top: 130px;
    font-family: 'Arial';
}

/* End survey styling ^ */
.box {
    border-style: solid;
    border-color: #F21E2E;
    padding: 30px;
    margin: auto;
    width: 40%;
}

.space {
    height: 150px;
}
/* End landing page styling*/


/* admin page styling*/
.adminTable th {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}

.adminTable td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #6b6d6d;
    
}

h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6d6d;
}

.adminTable {
    
    border-collapse: collapse; 
}