<div layout="row" layout-padding class="instructions">
    <div flex="90" class="container">
        <a ng-href="#/home/">
            <!-- <img src="images/CW_Logo_Color.png" alt="" width="150px" style="padding: 10px"> -->
        </a>
    </div>
    <div flex="10">
        <!-- <md-button class="header-btn" ng-href="#/login/">Admin</md-button> -->

<div class="container header">
    <div class="row">
        <div class="col-md-11">
            <a ng-href="#/home/">
                <img src="images/CW_Logo_Color.png" alt="" width="200px" style="padding: 10px">
            </a>
        </div>
        <div class="col-md-1">
            <a ng-href="#/login/">
                <button class="btn btn-admin">Admin</button>
            </a>
        </div>

    </div>
</div>