<header ng-include="'/views/partials/header.html'" class=""></header>
<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-outline-danger" id="logout" ng-click="uc.userService.logout()">Log Out</button>
</div>

<div class="container">
    <nav class="navbar navbar-light" style="background-color: white">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-outline-danger" ng-click="pending = false; inProgress = false; finished = false;">All</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger" ng-click="pending = true; inProgress = false; finished = false;">New Client</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger" ng-click="inProgress = true; pending = false; finished = false;">Survey in Progress</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger" ng-click="finished = true; pending = false; inProgress = false;">Finished Survey Process</button>
            </li>
        </ul>
    </nav>
    <div class="adminTable" ng-init="pending = false; inProgress = false; finished = false;edit = false; ">
        <table class="table table-hover table-sm container">
            <thead>
                <tr scope="row">
                    <th>
                        Name
                    </th>
                    <th>
                        Organization
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Contact Number
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Review Survey
                    </th>
                    <th>
                        Survey Link
                    </th>
                    <th>
                        Dashboard
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="inProgress = true; pending = true; finished = true;" ng-repeat="client in uc.clientData.list ">
                    <td ng-hide="edit">
                        {{client.point_of_contact}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.organization}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_email}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_number}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_number" placeholder="{{client.contact_number}}">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="edit = true;" ng-hide="edit">
                            <img class="icon" src="vendors/open-iconic/svg/pencil.svg">
                        </button>
                        <button class="btn btn-outline-danger" ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</button>
                    </td>
                    <td>
                        <select ng-model="client.status" ng-change="uc.editClient(client)">
                            <option ng-repeat="status in uc.clientStatus">{{status}}</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/admin-survey-review/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/magnifying-glass.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="localhost:5000/#/survey/{{client.survey_hash}}">
                            <img class="icon" src="vendors/open-iconic/svg/document.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/dashboard/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/bar-chart.svg" alt="bar-chart">
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="uc.deleteClient(client)">
                            <img class="icon" src="vendors/open-iconic/svg/trash.svg">
                        </button>
                    </td>
                </tr>
                <tr ng-show="inProgress = true" ng-hide="pending || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'In Progress'} ">
                    <td ng-hide="edit">
                        {{client.point_of_contact}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.organization}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_email}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_number}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_number" placeholder="{{client.contact_number}}">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="edit = true;" ng-hide="edit">
                            <img class="icon" src="vendors/open-iconic/svg/pencil.svg">
                        </button>
                        <button class="btn btn-outline-danger" ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</button>
                    </td>
                    <td>
                        <select ng-model="client.status" ng-change="uc.editClient(client)">
                            <option ng-repeat="status in uc.clientStatus">{{status}}</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/admin-survey-review/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/magnifying-glass.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="localhost:5000/#/survey/{{client.survey_hash}}">
                            <img class="icon" src="vendors/open-iconic/svg/document.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/dashboard/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/bar-chart.svg" alt="bar-chart">
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="uc.deleteClient(client)">
                            <img class="icon" src="vendors/open-iconic/svg/trash.svg">
                        </button>
                    </td>
                </tr>
                <tr ng-show="pending = true" ng-hide="inProgress || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'New Client'}">
                    <td ng-hide="edit">
                        {{client.point_of_contact}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.organization}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_email}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_number}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_number" placeholder="{{client.contact_number}}">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="edit = true;" ng-hide="edit">
                            <img class="icon" src="vendors/open-iconic/svg/pencil.svg">
                        </button>
                        <button class="btn btn-outline-danger" ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</button>
                    </td>
                    <td>
                        <select ng-model="client.status" ng-change="uc.editClient(client)">
                            <option ng-repeat="status in uc.clientStatus">{{status}}</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/admin-survey-review/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/magnifying-glass.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="localhost:5000/#/survey/{{client.survey_hash}}">
                            <img class="icon" src="vendors/open-iconic/svg/document.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/dashboard/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/bar-chart.svg" alt="bar-chart">
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="uc.deleteClient(client)">
                            <img class="icon" src="vendors/open-iconic/svg/trash.svg">
                        </button>
                    </td>
                </tr>
                <tr ng-show="finished = true" ng-hide="inProgress || pending" ng-repeat="client in uc.clientData.list | filter: {status: 'Finished'}">
                    <td ng-hide="edit">
                        {{client.point_of_contact}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.organization}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_email}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                    </td>
                    <td ng-hide="edit">
                        {{client.contact_number}}
                    </td>
                    <td ng-show="edit">
                        <input type="text" ng-model="client.contact_number" placeholder="{{client.contact_number}}">
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="edit = true;" ng-hide="edit">
                            <img class="icon" src="vendors/open-iconic/svg/pencil.svg">
                        </button>
                        <button class="btn btn-outline-danger" ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</button>
                    </td>
                    <td>
                        <select ng-model="client.status" ng-change="uc.editClient(client)">
                            <option ng-repeat="status in uc.clientStatus">{{status}}</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/admin-survey-review/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/magnifying-glass.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="localhost:5000/#/survey/{{client.survey_hash}}">
                            <img class="icon" src="vendors/open-iconic/svg/document.svg">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" ng-href="#/dashboard/{{client.id}}">
                            <img class="icon" src="vendors/open-iconic/svg/bar-chart.svg" alt="bar-chart">
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="uc.deleteClient(client)">
                            <img class="icon" src="vendors/open-iconic/svg/trash.svg">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>