<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <md-button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</md-button>
</div>

<div layout-gt-md="container" layout-padding layout-margin>
<div class="navbar">
    <md-tabs>
     
        <md-tab> <md-button ng-click="pending = false;  inProgress = false;  finished = false; ">All</md-button> </md-tab>
        <md-tab> <md-button ng-click="pending = true; inProgress = false;  finished = false;">Pending Review</md-button> </md-tab>
        <md-tab> <md-button ng-click="inProgress = true; pending = false; finished = false;">Survey in Progress</md-button> </md-tab>
        <md-tab> <md-button ng-click="finished = true; pending = false; inProgress = false;">Finished Survey Process</md-button> </md-tab>
    </md-tabs>
  </div>

<div class="adminTable" ng-init="pending = false;  inProgress = false;  finished = false; edit = false; ">
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Organization
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contacted
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Review Survey
                </th>
                <th>
                    View Results In Dashboard
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="inProgress = true; pending = true; finished = true;" ng-repeat="client in uc.clientData.list">
                <td ng-hide="edit" >
                    {{client.point_of_contact}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                </td>
                <td ng-hide="edit">
                    {{client.organization}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                </td>
                <td ng-hide="edit">
                    {{client.contact_email}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                </td>
                <td>
                    <input type="checkbox" ng-checked="client.status == 'inProgress' || client.status == 'finished' "  ng-click="uc.clientContacted(client)">
                </td>
                <td>
                    <md-button ng-click="edit = true;" ng-hide="edit" >Edit</md-button>
                    <md-button ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</md-button>
                </td>
                <td>
                    <md-button>Survey</md-button>
                </td>
                <td>
                    <md-button ng-href="#/dashboard/">View Results</md-button>
                </td>
                <td>
                    <md-button ng-click="uc.deleteClient(client)">Delete</md-button>
                </td>
            </tr>
            <tr ng-show="inProgress = true" ng-hide="pending || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'inProgress'}">
                <td ng-hide="edit" >
                    {{client.point_of_contact}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                </td>
                <td ng-hide="edit">
                    {{client.organization}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                </td>
                <td ng-hide="edit">
                    {{client.contact_email}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                </td>
                <td>
                    <input type="checkbox" ng-checked="client.status == 'inProgress' || client.status == 'finished' "  ng-click="uc.clientContacted(client)">
                </td>
                <td>
                    <md-button ng-click="edit = true;" ng-hide="edit" >Edit</md-button>
                    <md-button ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</md-button>
                </td>
                <td>
                    <md-button>Survey</md-button>
                </td>
                <td>
                    <md-button ng-href="#/dashboard/">View Results</md-button>
                </td>
                <td>
                    <md-button ng-click="uc.deleteClient(client)">Delete</md-button>
                </td>
                
            </tr>
            <tr ng-show="pending = true" ng-hide="inProgress || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'pending'}">
                <td ng-hide="edit" >
                    {{client.point_of_contact}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                </td>
                <td ng-hide="edit">
                    {{client.organization}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                </td>
                <td ng-hide="edit">
                    {{client.contact_email}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                </td>
                <td>
                    <input type="checkbox" ng-checked="client.status == 'inProgress' || client.status == 'finished' "  ng-click="uc.clientContacted(client)">
                </td>
                <td>
                    <md-button ng-click="edit = true;" ng-hide="edit" >Edit</md-button>
                    <md-button ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</md-button>
                </td>
                <td>
                    <md-button>Survey</md-button>
                </td>
                <td>
                    <md-button ng-href="#/dashboard/">View Results</md-button>
                </td>
                <td>
                    <md-button ng-click="uc.deleteClient(client)">Delete</md-button>
                </td>
            </tr>
            <tr ng-show="finished = true" ng-hide="inProgress || pending" ng-repeat="client in uc.clientData.list | filter: {status: 'finished'}">
                <td ng-hide="edit" >
                    {{client.point_of_contact}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.point_of_contact" placeholder="{{client.point_of_contact}}">
                </td>
                <td ng-hide="edit">
                    {{client.organization}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.organization" placeholder="{{client.organization}}">
                </td>
                <td ng-hide="edit">
                    {{client.contact_email}}
                </td>
                <td ng-show="edit">
                    <input type="text" ng-model="client.contact_email" placeholder="{{client.contact_email}}">
                </td>
                <td>
                    <input type="checkbox" ng-checked="client.status == 'inProgress' || client.status == 'finished' "  ng-click="uc.clientContacted(client)">
                </td>
                <td>
                    <md-button ng-click="edit = true;" ng-hide="edit" >Edit</md-button>
                    <md-button ng-click="uc.editClient(client); edit = false" ng-show="edit;">Submit Changes</md-button>
                </td>
                <td>
                    <md-button >Survey</md-button>
                </td>
                <td>
                    <md-button  ng-href="#/dashboard/">View Results</md-button>
                </td>
                <td>
                    <md-button  ng-click="uc.deleteClient(client)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>