<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="landing">
        <div>
                <img class="banner" src="/images/cushman-landing-cut.png" alt="" width=100%>
            </div>
            <br>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card admin-review-cards">
                <div class="card-body">
                    <h2 class="card-text admin">{{asr.client.survey[0].client_organization}}</h2>
                    <img class="admin-image" src="{{asr.client.survey[0].logo_url}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card admin-review-cards">
                <div class="card-body">
                    <h4>Point of Contact: {{asr.client.survey[0].client_name}}</h4>
                    <div>
                        <strong>Email: </strong>{{asr.client.survey[0].client_email}}</div>
                    <span>
                        <strong>Phone: </strong>{{asr.client.survey[0].client_number}}</span>
                    <div>
                        <strong>Client Comments: </strong>{{asr.client.survey[0].comments}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card admin-review-cards">
                <div class="card-body">
                    <div style="padding: 5px">
                        <a class="btn btn-light" ng-href="#/dashboard/{{asr.client.survey[0].client_id}}">
                            <img class="icon" src="vendors/open-iconic/svg/bar-chart.svg" alt="bar-chart">
                        </a>
                        <span>Go to Dashboard</span>

                    </div>
                    <div style="padding: 5px">

                        <a class="btn btn-light" ng-href="/#/survey/{{asr.client.survey[0].survey_url}}">
                            <img class="icon" src="vendors/open-iconic/svg/document.svg">
                        </a>
                        <span>Go to Survey</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <h4>Selected Survey Categories</h4>
    <br>
    <button ng-hide="addCategory" class="btn btn-outline-danger" ng-click="asr.getNotSelected(); addCategory = !addCategory">Add Survey Category</button>
    <button ng-show="addCategory" class="btn btn-outline-danger " ng-click="addCategory = !addCategory">Done Adding</button>
    <div ng-show="addCategory">
        <br>
        <span>Categories To Add: </span>
        <span ng-repeat="kpi in asr.notSelectedArray.list" for="categories">
            <button class="btn btn-danger btn-sm" ng-model="kpi.id" ng-click="asr.addClientCategory(kpi, asr.client.survey[0].client_id)">+ {{kpi.kpi}}</button>
        </span>
    </div>
    <div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Selected Category</th>
                    <!-- <th>Blurb</th> -->
                    <!-- <th>Add/Edit Blurb</th> -->
                    <th>Remove Category</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kpi in asr.client.survey">
                    <td>{{kpi.kpi_name}}</td>
                    <!-- <td>
                        <span ng-hide="blurb.isEditable">{{kpi.notes_added}}</span>
                        <input ng-show="blurb.isEditable" type="text" ng-model="kpi.notes_added">
                    </td> -->
                    <!-- <td>
                        <button class="btn btn-outline-danger" ng-hide="blurb.isEditable" ng-click="blurb.isEditable = !blurb.isEditable">
                            <img class="icon" src="vendors/open-iconic/svg/pencil.svg">
                        </button>
                        <button class="btn btn-outline-danger" ng-show="blurb.isEditable" ng-click="asr.editBlurb(kpi, kpi.client_id)">Save Blurb</button>
                    </td> -->
                    <td>
                        <button class="btn btn-outline-danger" ng-click="asr.removeCategory(kpi, kpi.client_id)">
                            <img class="icon" src="vendors/open-iconic/svg/trash.svg">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <span>
        <a ng-href="#/user" class="no_underline">
            <img class="icon" src="vendors/open-iconic/svg/arrow-thick-left.svg"> Back to Admin
        </a>
    </span>
</div>
<div class="space"></div>