<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>


<div class="navbar">
    <div class="container">
      <ul>
        <li> <button ng-click="pending = false;  inProgress = false;  finished = false; ">All</button> </li>
        <li> <button ng-click="pending = true; inProgress = false;  finished = false;">Pending Review</button> </li>
        <li> <button ng-click="inProgress = true; pending = false; finished = false;">Survey in Progress</button> </li>
        <li> <button ng-click="finished = true; pending = false; inProgress = false;">Finished Survey Process</button> </li>
      </ul>
    </div>
  </div>

<div class="adminTable" ng-init="pending = false;  inProgress = false;  finished = false; ">
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Organization
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contacted
                </th>
                <th>
                    Review Survey
                </th>
                <th>
                    Edit
                </th>
                <th>
                    View Results In Dashboard
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="inProgress = true; pending = true; finished = true;" ng-repeat="client in uc.clientData.list">
                <td>
                    {{client.point_of_contact}}
                </td>
                <td>
                    {{client.organization}}
                </td>
                <td>
                    {{client.contact_email}}
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <button>Survey</button>
                </td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>View Results</button>
                </td>
                <td>
                    <button ng-click="uc.deleteClient(client)">Delete</button>
                </td>
            </tr>
            <tr ng-show="inProgress = true" ng-hide="pending || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'inProgress'}">
                <td>
                    {{client.point_of_contact}}
                </td>
                <td>
                    {{client.organization}}
                </td>
                <td>
                    {{client.contact_email}}
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <button>Survey</button>
                </td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>View Results</button>
                </td>
                <td>
                    <button ng-click="uc.deleteClient(client)">Delete</button>
                </td>
                
            </tr>
            <tr ng-show="pending = true" ng-hide="inProgress || finished" ng-repeat="client in uc.clientData.list | filter: {status: 'pending'}">
                <td>
                    {{client.point_of_contact}}
                </td>
                <td>
                    {{client.organization}}
                </td>
                <td>
                    {{client.contact_email}}
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <button>Survey</button>
                </td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>View Results</button>
                </td>
                <td>
                    <button ng-click="uc.deleteClient(client)">Delete</button>
                </td>
            </tr>
            <tr ng-show="finished = true" ng-hide="inProgress || pending" ng-repeat="client in uc.clientData.list | filter: {status: 'finished'}">
                <td>
                    {{client.point_of_contact}}
                </td>
                <td>
                    {{client.organization}}
                </td>
                <td>
                    {{client.contact_email}}
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <button>Survey</button>
                </td>
                <td>
                    <button>Edit</button>
                </td>
                <td>
                    <button>View Results</button>
                </td>
                <td>
                    <button ng-click="uc.deleteClient(client)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
