<div>
    <a href="#/user">Home</a>
</div>
<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">Demographics</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">Location</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#amenities">Amenities</a>
                </li>
                <li class="survey-tabs">
                    <a href="#brand">Brand</a>
                </li>
                <li class="survey-tabs">
                    <a href="#retention">Retention</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">Conclusion</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <h1 class="tab-title">Amenities</h1>
                <br>
                <div>
                    <div ng-repeat="question in sc.amenities.list | limitTo:sc.amenitiesLimit">
                        <div class="survey-questions">{{question.question}}
                            <br>
                            <div ng-show="question.question_id === 9" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <br>
                            <div class="slidecontainer" ng-show="question.question_id === 10">
                                <input type="range" min="1" max="5" value="3" class="slider" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 10" ng-repeat="response in question.responses | orderBy:'id'">
                                <span class="slider-numbers">{{response.response_text}}</span>
                            </span>
                            <br>
                            <div ng-show="question.question_id === 11" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <div ng-show="question.question_id === 12" class="form-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses" style="width: 200px"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <a href="#brand">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>