<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    style="width:40%">
                    40%
                </div>
            </div>
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">My People</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">My Workplace</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#amenities">My Amenities</a>
                </li>
                <li class="survey-tabs">
                    <a href="#brand">My Company</a>
                </li>
                <li class="survey-tabs">
                    <a href="#retention">My Worklife</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">My Satisfaction</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <br>
                <div ng-repeat="question in sc.amenities.list | limitTo:sc.amenitiesLimit">
                    <div class="survey-questions">{{question.question}}
                        <div ng-if="question.question_id === 10 && sc.amenities.list[0].responses" class="slider-location1">
                            <rzslider rz-slider-model="sc.slider.value.question10" rz-slider-options="{showTicksValues: true, stepsArray: sc.amenities.list[0].responses}"></rzslider>
                        </div>
                        <div ng-if="question.question_id === 11 && sc.amenities.list[1].responses" class="slider-location1">
                            <rzslider rz-slider-model="sc.slider.value.question11" rz-slider-options="{showTicksValues: true, stepsArray: sc.amenities.list[1].responses}"></rzslider>
                        </div>
                        <div ng-show="question.question_id === 12"></div>
                        <div class="dropdown" ng-show="question.question_id === 13">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question13" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 14">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question14" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 15">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question15" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 16">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question16" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 17">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question17" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 18">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question18" class="amenitiesDropdown">
                            </select>
                        </div>
                        <div class="dropdown" ng-show="question.question_id === 19">
                            <select ng-options="response.value as response.legend for response in question.responses track by response.value" ng-model="sc.slider.value.question19" class="amenitiesDropdown">
                            </select>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div>
                    <a href="#brand">
                        <button type="button" class="btn btn-danger" ng-click="sc.saveResponses( sc.slider.value)">
                            <span></span> Next
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>