<div>
    <a href="#/user">Home</a>
</div>
<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">Demographics</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">Location</a>
                </li>
                <li class="survey-tabs">
                    <a href="#amenities">Amenities</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#brand">Brand</a>
                </li>
                <li class="survey-tabs">
                    <a href="#retention">Retention</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">Conclusion</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <h1 class="tab-title">Brand</h1>
                <br>
                <div>
                    <div ng-repeat="question in sc.brand.list | limitTo:sc.brandLimit">
                        <div class="brand-survey-questions">{{question.question}}
                            <div class="slidecontainer" ng-show="question.question_id === 13">
                                <input type="range" min="1" max="5" value="3" class="slider" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 13" ng-repeat="response in question.responses | orderBy : 'responses_ids'">
                                <span class="slider-values">{{response.response_text}}</span>
                            </span>
                            <br>
                            <div ng-show="question.question_id === 14" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <br>
                            <div ng-show="question.question_id === 15" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <br>
                            <div class="slidecontainer" ng-show="question.question_id === 16">
                                <input type="range" min="1" max="5" value="3" class="slider" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 16" ng-repeat="response in question.responses | orderBy : 'responses_ids'">
                                <span class="slider-values">{{response.response_text}}</span>
                            </span>
                            <br>
                            <!--- this question needs its display changed -->
                            <div ng-show="question.question_id === 17" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question) ; sc.publicYes = !sc.publicYes">
                                </label>
                            </div>
                            <div ng-if="sc.publicYes" ng-show="question.question_id === 17" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="response in question.responses"> {{response.response_text}}
                                    <input type="radio" ng-model="question.selectedResponse" ng-value="response" ng-click="sc.saveResponses(question)">
                                </label>
                            </div>
                            <div class="slidecontainer" ng-show="question.question_id === 18">
                                <input type="range" min="1" max="5" value="3" class="slider" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 18" ng-repeat="response in question.responses | orderBy : 'responses_ids'">
                                <span class="slider-values">{{response.response_text}}</span>
                            </span>
                            <br>
                        </div>
                        <br>
                    </div>
                    <a href="#retention">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>