<div>
        <a href="#/user">Home</a>
        </div>
        <div ng-cloak class="container-fluid" id="survey-background">
          <div class="col-lg-8">
            <ul class="nav nav-tabs" id="survey-background">
                <li><a href="#survey">Demographics</a></li>
                <li><a href="#location">Location</a></li>
                <br>
                <li><a href="#amenities">Amenities</a></li>
                <br>
                <li class="active"></li><a href="#brand">Brand</a></li>
                <br>
                <li><a href="#retention">Retention</a></li>
              </ul>
            </div>
            This is the Brand page
          </div>