<div>
    <a href="#/user">Home</a>
</div>
<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">Demographics</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">Location</a>
                </li>
                <li class="survey-tabs">
                    <a href="#amenities">Amenities</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#brand">Brand</a>
                </li>
                <li class="survey-tabs">
                    <a href="#retention">Retention</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">Conclusion</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <h1 class="tab-title">Brand</h1>
                <br>
                <div>
                    <div ng-repeat="question in sc.brand.list | limitTo:sc.brandLimit">
                        <div class="survey-questions">{{question.question}}
                            <div class="slidecontainer" ng-show="question.question_id === 13">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 13">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                            </span>
                            <br>
                            <div ng-show="question.question_id === 14">
                                <button type="button" class="btn btn-default">{{question.responses[0]}}</button>
                                <button type="button" class="btn btn-default">{{question.responses[1]}}</button>
                            </div>

                            <div ng-show="question.question_id === 15">
                                <button type="button" class="btn btn-default">{{question.responses[0]}}</button>
                                <button type="button" class="btn btn-default">{{question.responses[1]}}</button>
                            </div>
                            <div class="slidecontainer" ng-show="question.question_id === 16">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 16">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                                <br>
                            </span>
                            <br>
                            <div ng-show="question.question_id === 17">
                                <button type="button" class="btn btn-default" ng-click="sc.publicYes = !sc.publicYes">{{question.responses[0]}}</button>
                                <button type="button" class="btn btn-default">{{question.responses[1]}}</button>
                            </div>
                            <br>
                            <div ng-if="sc.publicYes" ng-show="question.question_id === 17">
                                <button type="button" class="btn btn-default">{{question.responses[2]}}</button>
                                <button type="button" class="btn btn-default">{{question.responses[3]}}</button>
                            </div>
                            <div class="slidecontainer" ng-show="question.question_id === 18">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 18">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                                <br>
                            </span>
                            <br>
                        </div>
                        <br>
                    </div>
                    <a href="#retention">
                        <button type="button" class="btn btn-default" ng-click="sc.saveResponses(selectedResponse)">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>