<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
        <span class="glyphicon glyphicon-search"></span>
    <h1>One Last Step...</h1>
    <p>Fill out your contact information below so we can connect you with one of our Cushman & Wakefield Specialists to help you with the next steps for implementing your survey.</p>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" ng-model="bc.contactInformation.point_of_contact">
        <label for="position">Position:</label>
        <input type="text" name="position" id="position" class="form-control" ng-model="bc.contactInformation.position">
        <label for="organization">Organization:</label>
        <input type="text" name="organization" id="organzation" class="form-control" ng-model="bc.contactInformation.organization">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control" ng-model="bc.contactInformation.contact_email">
        <label for="phone">Contact Phone Number:</label>
        <input type="tel" name="phone" id="phone" class="form-control" ng-model="bc.contactInformation.contact_number">
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments" cols="30" rows="10" class="form-control" ng-model="bc.contactInformation.comments"></textarea>
        <button ng-click="bc.postNewSurveyAndClient(bc.kpisAdded,bc.contactInformation)">Submit</button>

    <div>


</div>