<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="container">
    <h1>Build Your Survey</h1>
    <p>Select the categories below you would like in your survey.</p>
    <hr>
    <h2>Location</h2>
    <div class="row">
        <div class="col-6">
            <p>
                Location is a major concern for your people. What factors of location are most important to them?
                This section will Compile information on what is truly important for the location for your peoples transit.  We will use this
                information to compile information on Parking, Exposure, Transit and Drive Time.
            </p>
            <button ng-click="bs.toggleLocation()" ng-hide="bs.kpisAdded.locationAdded" class="btn btn-outline-success">Add to Survey</button>
            <button ng-click="bs.toggleLocation()" ng-show="bs.kpisAdded.locationAdded" class="btn btn-outline-danger">Remove from Survey</button>
        </div>
        <img src="../images/location.png" class="col-6 img-thumbnail build-survey-pic">
    </div>
    <hr>
    <h2>Amenities</h2>
    <div class="row">
        <div class="col-6">
            <p>
                What's most important for your employees.  Do they want a building close to restaurants, bars, free parking? Find out by polling.
                We will use this data to report what amenities they want geographically, internal, or in an office building
        
            </p>
            <button ng-click="bs.toggleAmenities()" ng-hide="bs.kpisAdded.amenitiesAdded" class="btn btn-outline-success">Add to Survey</button>
            <button ng-click="bs.toggleAmenities()" ng-show="bs.kpisAdded.amenitiesAdded" class="btn btn-outline-danger">Remove from Survey</button>
        </div>
        <img src="../images/amenities.png" class="col-6 img-thumbnail build-survey-pic">
    </div>
    <hr>
    <h2>Brand</h2>
    <div class="row">
        <div class="col-6">
            <p>
                What about your brand is most important to your people in your new location?
                We will find what signage for your brand, the exposure,
            </p>
            <button ng-click="bs.toggleBrand()" ng-hide="bs.kpisAdded.brandAdded" class="btn btn-outline-success">Add to Survey</button>
            <button ng-click="bs.toggleBrand()" ng-show="bs.kpisAdded.brandAdded" class="btn btn-outline-danger">Remove from Survey</button>
        </div>
        <img src="../images/brand.png" class="col-6 img-thumbnail build-survey-pic">
    </div>
    <hr>
    <h2>Recruitment and Retainment</h2>
    <div class="row">
        <div class="col-6">
            <p>
                What about a new building is most important to your people.  We wil give you information on 
                their desire for the culture, their well being, the brand, and on being able to be collaboritive.
            </p>
            <button ng-click="bs.toggleRetainment()" ng-hide="bs.kpisAdded.retainmentAdded" class="btn btn-outline-success">Add to Survey</button>
            <button ng-click="bs.toggleRetainment()" ng-show="bs.kpisAdded.retainmentAdded" class="btn btn-outline-danger">Remove from Survey</button>
        </div>
        <img src="../images/recruitment.png" class="col-6 img-thumbnail build-survey-pic">
    </div>
    <hr>
    <h2>Space Layout</h2>
    <div class="row">
        <div class="col-6">
            <p>
                What do your people want the new space to be like.  What are the functions of the building that help them
                with their jobs, what should be in the break space, and what kind of furniture doe they like.
            </p>
            <button ng-click="bs.toggleSpaceLayout()" ng-hide="bs.kpisAdded.spaceLayoutAdded" class="btn btn-outline-success">Add to Survey</button>
            <button ng-click="bs.toggleSpaceLayout()" ng-show="bs.kpisAdded.spaceLayoutAdded" class="btn btn-outline-danger">Remove from Survey</button>
        </div>
        <img src="../images/space-layout.png" class="col-6 img-thumbnail build-survey-pic">
    </div>
    <hr>
    <a ng-href="{{bs.reviewBuildSurveyURL.urlString}}" class="btn btn-outline-danger">Review Survey </a>
    <div class="space"></div>