<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1>One Last Step...</h1>
    <p>Fill out your contact information below so we can put one of our Cushman-Wakefield Specialists on your case and help you with the next steps for implementing your survey.</p>
    <form action="">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control">
        <label for="position">Position:</label>
        <input type="text" name="position" id="position" class="form-control">
        <label for="organization">Organization:</label>
        <input type="text" name="organization" id="organzation" class="form-control">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control">
        <label for="phone">Contact Phone Number:</label>
        <input type="text" name="phone" id="phone" class="form-control">
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments" cols="30" rows="10" class="form-control"></textarea>
    </form>


</div>