<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1>Your Survey Review</h1>
    <table class="table table-bordered">
        <tr>
            <td>
                <ul>
                    <li>Demographics
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                *Required
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.locationAdded">
            <td>
                <ul>
                    <li>Location
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.locationRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-show="br.kpisAdded.amenitiesAdded">
            <td>
                <ul>
                    <li>Amenities
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.amenitiesRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.brandAdded">
            <td>
                <ul>
                    <li>Brand
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.brandRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.retainmentAdded">
            <td>
                <ul>
                    <li>Recruitment & Retainment
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.retainmentRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.spaceLayoutAdded">
            <td>
                <ul>
                    <li>Space Layout
                        <ul>
                            <li>What is your name?</li>
                            <li>What is your quest?</li>
                            <li>What is your favorite color?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.spaceLayoutRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
    </table>
    
    <a href="{{br.contactInformationURL.urlString}}">Submit</a>


</div>