<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="container">
    <h1>Your Survey Review</h1>
    <h4>These are the catergories you selected along with the survey questions that will be included</h4>
    <table class="table table-bordered">
        <tr>
            <td>
                <ul>
                    <li>Demographics
                        <ul>
                            <li>When were you born?</li>
                            <li>Please select your service line/department.</li>
                            <li>Which of the following best describes your current work setting?</li>
                            <li>How many years have you worked for our company</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                *Required
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.locationAdded">
            <td>
                <ul>
                    <li>Location
                        <ul>
                            <li>What is your average commute time?</li>
                            <li>How do you currently commute to work?</li>
                            <li>How do you prefer to commute to work?</li>
                            <li>How satisfied are you with parking arrangements at your current work setting?</li>
                            <li>If a partial “work from home” policy was implemented, would you see yourself using this as an
                                alternative working style?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.locationRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-show="br.kpisAdded.amenitiesAdded">
            <td>
                <ul>
                    <li>Amenities
                        <ul>
                            <li>Please rate how often you use your current building’s amenities, such as a fitness center or
                                lounge area, in an average week.</li>
                            <li>If a ‘3rd work space’ was available in your building, such as a coffee shop, lounge or common
                                space, how often do you think you would use it in a week?</li>
                            <li>Please rate the following amenities you would like to have in an ideal location: (1 being no
                                preference, 5 being highly preferable)
                                <ul>
                                    <li>Food and Entertainment</li>
                                    <li>Conference Room</li>
                                    <li>Green Space</li>
                                    <li>Shower/Locker Room</li>
                                    <li>Fitness Center</li>
                                    <li>Parking</li>
                                    <li>Public Transit</li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.amenitiesRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.brandAdded">
            <td>
                <ul>
                    <li>Brand
                        <ul>
                            <li>How do you perceive our company’s stance on environmental stewardship and sustainability?</li>
                            <li>How well do you feel our current facility reflects our company’s brand and mission statement?</li>
                            <li>What kind of impression do you feel our current work space has on our customers?</li>                                </li>
                            <li>How would you rate our company’s current public exposure?</li>
                            <li>How important is it for our business to have a public face?</li>
                            <li>How impactful would a new location be to our companies public face?</li>
                            <li>How does our current space compare to other office spaces you have worked in or visited?</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.brandRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr ng-if="br.kpisAdded.retainmentAdded">
            <td>
                <ul>
                    <li>Recruitment & Retainment
                        <ul>
                            <li>Please rate your current work areas access to daylight and natural views</li>
                            <li>How much impact does your location have on your workplace satisfaction?</li>
                            <li>How well does your current work environment provide the space to meet you and your teams needs?</li>
                            <li>Where are you working during an average work week?
                                <ul>
                                    <li>Home</li>
                                    <li>Office desk</li>
                                    <li>Elsewhere in office</li>
                                    <li>Coffee Shop</li>
                                    <li>On-site with client</li>
                                    <li>Other</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" ng-click="br.kpisAdded.retainmentRemove()">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Conclusion
                        <ul>
                            <li>How would you rate your overall satisfaction with your current work space?</li>
                            <li>How well does our space foster: 
                                <ul>
                                    <li>Positive culture:</li>
                                    <li>Employee wellbeing:</li>
                                    <li>Worker productivity</li>
                                    <li>Engagment among coworkers</li>
                                </ul>
                            </li>
                            <li>Are there any additional comments or notes we should know regarding the positives and negatives of our current building location? Please note, this is not a comment on the design or function of the space, but rather the overall building location, condition and amenities.</li>
                            
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                *Required
            </td>
        </tr>
    </table>

    <a href="{{br.contactInformationURL.urlString}}" class="btn btn-outline-danger">Next</a>


</div>