<header ng-include="'/views/partials/survey-header.html'" class=""></header>

<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
                <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width:100%">
                          100%
                        </div>
                </div>
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">My People</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">My Workplace</a>
                </li>
                <li class="survey-tabs">
                    <a href="#amenities">My Amenities</a>
                </li>
                <li class="survey-tabs">
                    <a href="#brand">My Company</a>
                </li>
                <li class="survey-tabs">
                    <a href="#retention">My Worklife</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#conclusion">My Satisfaction</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <br>
                <div>
                    <div ng-repeat="question in sc.conclusion.list | limitTo:sc.conclusionLimit">
                        <div class="survey-questions">{{question.question}}
                            <div class="slidecontainer" ng-show="question.question_id === 37">
                                <input type="range" min="1" max="5" value="3" class="slider conclusion1" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 37" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values conclusion1">{{response.response_text}}</span>
                            </span>
                            <span ng-show="question.question_id === 38" id="conclusionQ2"></span>
                            <div class="slidecontainer" ng-show="question.question_id === 39">
                                <input type="range" min="1" max="5" value="3" class="slider conclusion" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 39" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values conclusionQs">{{response.response_text}}</span>
                            </span>
                            <div class="slidecontainer" ng-show="question.question_id === 40">
                                <input type="range" min="1" max="5" value="3" class="slider conclusion" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 40" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values conclusionQs">{{response.response_text}}</span>
                            </span>
                            <div class="slidecontainer" ng-show="question.question_id === 41">
                                <input type="range" min="1" max="5" value="3" class="slider conclusion" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 41" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values conclusionQs">{{response.response_text}}</span>
                            </span>
                            <div class="slidecontainer" ng-show="question.question_id === 42">
                                <input type="range" min="1" max="5" value="3" class="slider conclusion" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 42" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values conclusionQs">{{response.response_text}}</span>
                            </span>
                            <div ng-show="question.question_id === 43" ng-repeat="response in question.responses">
                                
                                    <input class="largeText" type="text" ng-model= "sc.lastQuestion.response_from_input" >
                                
                            </div>
                            <br>
                        </div>
                    </div>
                    <a href="#/surveyFinished/">
                        <button type="button" class="btn btn-danger" ng-click = "sc.saveResponsesUserInput(sc.lastQuestion)" >
                            <span></span> Finish Survey
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>