<header ng-include="'/views/partials/header.html'" class=""></header>
<h1>Dashboard</h1>
<a ng-href="/#user">Back To Admin Page</a>
<button ng-click="self.ageDistribution.update();">Update Charts</button>

{{dc.clientDemoData}}
<br>
<br> {{dc.ageDistributionInput}}
<div class="container">
    <div>
        <h3>Demographics: Who Are Your People</h3>
        <br>
        <div class="row">
            <div class="col-6">
                What is the age distribution your people?
                <canvas class="card" id="ageDistribution"></canvas>
            </div>
            <div class="col-6">
                What departments do your people work in?
                <canvas class="card" id="departmentDistribution"></canvas>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-6">
                What word do your people describe your current space as?
                <canvas class="card" id="descriptionDistribution"></canvas>
            </div>
            <div class="col-6">
                How many years have your people worked for you?
                <canvas class="card" id="experienceDistribution"></canvas>
            </div>
        </div>
        <br>
        <hr>
    </div>
    <div>
        <h3>Location: Where Are Your People?</h3>
        <br>
        <div class="row">
            <div class="col-6">
                How long are your people's commutes?
                <canvas class="card" id="commuteTimes"></canvas>
            </div>
            <div class="col-6">
                Are your people satisfied with current parking arrangement?
                <canvas class="card" id="parkingSatisfaction"></canvas>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-6">
                What mode do they commute by?
                <br> What mode do they want to commute by?
                <canvas class="card" id="modeOfCommute"></canvas>
            </div>
            <div class="col-6">
                <br> How frequently would people like to work from home?
                <canvas class="card" id="homeworkFrequency"></canvas>
            </div>
        </div>
        <br>
        <hr>
    </div>
    <div>
        <h3>Amenities: What amenities help your people?</h3>
        <br>
        <div class="row">
            <div class="col-6">
                How frequent do your people use your current buildings amenities?
                <canvas class="card" id="currentAmenityFrequency"></canvas>
            </div>
            <div class="col-6">
                How frequent would your people use a 3rd workspace like a lounge, coffee shop or common space?
                <canvas class="card" id="thirdSpaceFrequency"></canvas>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-6">
                What Amenities do your people value the most on a scale of 5?
                <br> What mode do they want to commute by?
                <canvas class="card" id="amenitiesValued"></canvas>
            </div>
        </div>
        <br>
        <hr>
    </div>
















    <div class="container">
        <div class="row">
            <div class="col-6">
                How old are your people?
                <canvas class="card" id="barChart"></canvas>
            </div>
            <div class="col-6">
                What is departments do my people work in?
                <canvas class="card" id="lineChart"></canvas>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-6">
                To Whom are your people?
                <canvas class="card" id="pieChart"></canvas>
            </div>
            <div class="col-6">
                From Which are your people?
                <canvas class="card" id="doughnutChart"></canvas>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                What are your people?
                <canvas class="card" id="polarChart"></canvas>
            </div>
            <div class="col-6">
                When are your people?
                <canvas class="card" id="radarChart"></canvas>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                Where are your people?
                <canvas class="card" id="mixedChart"></canvas>
            </div>
            <div class="col-6">
                Who are your people?
                <canvas class="card" id="bubbleChart"></canvas>
            </div>
        </div>










    </div>