<h1>Dashboard</h1>
<a ng-href="/#user">Back To Admin Page</a>


<div class="container">
    <div class="row">
        <div class="col-6">
            How long are my people's commute?
            <canvas class="card" id="barChart"></canvas>
        </div>
        <div class="col-6">
            What is the distribution of my people?
            <canvas class="card" id="lineChart"></canvas>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            To Whom are your people?
            <canvas class="card" id="pieChart"></canvas>
        </div>
        <div class="col-6">
            From Which are your people?
            <canvas class="card" id="doughnutChart"></canvas>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            What are your people?
            <canvas class="card" id="polarChart"></canvas>
        </div>
        <div class="col-6">
            When are your people?
            <canvas class="card" id="radarChart"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            Where are your people?
            <canvas class="card" id="mixedChart"></canvas>
        </div>
        <div class="col-6">
            Who are your people?
            <canvas class="card" id="bubbleChart"></canvas>
        </div>
    </div>










</div>