<div class="landing">
    <div class="jumbotron">
        <!-- <h1 class="heading">Diagnose My People</h1> -->
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card" style="min-height: 23rem;">
                <div class="card-body">
                    <h5 class="card-title">Survey Description</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, sit ei diam pertinacia. Pri ea expetenda intellegebat. Utinam aliquando ei
                        eos. Te qui brute sadipscing, ut timeam laoreet ius, quem apeirian eam et. Adhuc facete ne mel, ne
                        sed vidit mandamus, vis at impedit aliquando maiestatis. Ut vim saepe scriptorem, mel at sonet quidam.
                    </p>
                    <a ng-href="#/buildsurvey/" class="btn btn-outline-danger btn-block">Create My Survey!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card" style="min-height: 23rem;">
                <img class="card-img-top" src="images/sample.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sample Survey View</h5>
                    <p class="card-text">Brief description of survey.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card" style="min-height: 23rem;">
                <img class="card-img-top" src="images/dashboard_sample.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sample Dashboard View</h5>
                    <p class="card-text">Brief description of dashboard.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>
