<div class="container landing">
    <div class="heading">
        <h1>Diagnose My People</h1>
    </div>
    <br>
    <div class="description">
        <h2>Description of survey and benefits go here</h2>
        <p>
            Lorem ipsum dolor sit amet, sit ei diam pertinacia. Pri ea expetenda intellegebat. Utinam aliquando ei eos. Te qui brute
            sadipscing, ut timeam laoreet ius, quem apeirian eam et. Adhuc facete ne mel, ne sed vidit mandamus, vis at impedit
            aliquando maiestatis. Ut vim saepe scriptorem, mel at sonet quidam. His putant fierent ex, cu menandri senserit
            torquatos pro, his cu graeco dolores. Eu aperiri partiendo mei, sit ea expetenda gubergren omittantur. Nihil
            graecis est ad, sea no possim appareat. Natum eleifend te usu, ne dicit ancillae usu, usu ut graeci putant gloriatur.
        </p>
    </div>
    <br>
    <div>
        <a ng-href="#/survey/">
            <button class="btn">Create My Customizable Survey</button>
        </a>
    </div>
</div>