<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="landing">
    <div>
        <img class="banner" src="/images/cushman-landing-cut.png" alt="" width=100%>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card main">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">
                        The typical company that leases or owns real estate spends, on average, about 3%-5% of its annual operating budget on real
                        estate costs. However, anywhere from 50% - 90% of that same operating budget gets spent on recruiting,
                        training, compensating, and retaining top talent. We believe a real estate strategy that does not
                        take into account the people factor is a strategy that is destined to fall short of the operational
                        goals of the organization.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What It Is</h5>
                    <p class="card-text">The Diagnose My People Tool is the quick and easy way to help facility decision-makers make data-driven
                        decisions supported by analyzing the relationship between your workplace and your workforce. This
                        integrated survey is founded upon workplace best practices across fortune 500 companies, architectural
                        firms, and leading workplace wellness programs. It is deliberately customizable so that a manger
                        can easily curate, administer, and target the metrics that matter the most his or her organization.
                    </p>
                    <a ng-href="#/buildsurvey/" class="btn btn-danger btn-block">Create My Survey!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="images/sample.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How It Works</h5>
                    <ol class="card-text">
                        <li>Create a company profile for your Talent Survey.</li>
                        <li>A private URL link for your organization will be generated.</li>
                        <li>Send the link to all of your employees.</li>
                        <li>That's it!</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="images/dashboard_sample.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">What You Get</h5>
                    <p class="card-text"><p>The Diagnose My People Tool will compile all of the survey responses received in the designated survey
                            period of time, aggregate the responses, and automatically populate your dashboard. You will receive
                            a notification that your dashboard is ready for review in 1-2 weeks once the designated survey period
                            has concluded.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>