<div>
        <a href="#/user">Home</a>
        </div>
        <div ng-cloak class="container-fluid" id="survey-background">
                <div class="col-lg-8">
                  <ul class="nav nav-tabs" id="survey-background">
                      <li><a href="#survey">Demographics</a></li>
                      <li class="active"><a href="#location">Location</a></li>
                      <li><a href="#amenities">Amenities</a></li>
                      <li><a href="#brand">Brand</a></li>
                      <li><a href="#retention">Retention</a></li>
                    </ul>

                    This is the location page
                  </div>
                </div>