<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="container" layout="column" layout-padding>
    <div>
        <div layout="column" flex="100" layout-align="center center">
            <div class="box">
                <h1 class="lead">Login</h1>
                <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
                    <form ng-submit="lc.login()">
                        <div>
                        <label>Username:</label>
                        <input class="form-control" ng-model="lc.user.username">
                    </div>
                    <div>
                        <label>Password:</label>
                        <input class="form-control" type="password" ng-model="lc.user.password">
                    </div>
                    <br>
                        <div>
                            <input class="btn btn-outline-danger" type="submit" name="submit" value="Log In" />
                            <a href="#register">Register</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>