<header ng-include="'/views/partials/header.html'" class=""></header>
<div class="container" layout="column" layout-padding>
    <div>
        <div layout="column" flex="100" layout-align="center center">
            <div class="box">
                <h1 class="lead">Register User</h1>
                <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
                    <form ng-submit="lc.registerUser()">
                        <div>
                            <label for="username">Username:</label>
                            <input class="form-control" type="text" ng-model="lc.user.username" />
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" ng-model="lc.user.password" />
                        </div>
                        <br>
                        <input class="btn btn-outline-danger" type="submit" name="submit" value="Register" />
                        <a href="#home">Cancel</a>
                    </form>
            </div>
        </div>
    </div>
</div>