<div>
    <a href="#/user">Home</a>
</div>
<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">Demographics</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">Location</a>
                </li>
                <li class="survey-tabs">
                    <a href="#amenities">Amenities</a>
                </li>
                <li class="survey-tabs">
                    <a href="#brand">Brand</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#retention">Retention</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">Conclusion</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <h1 class="tab-title">Retention</h1>
                <br>
                <div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit">
                        <div class="survey-questions">{{question.question}}
                            <div class="slidecontainer" ng-show="question.question_id === 19">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 19">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                            </span>
                            <br>
                            <br>
                            <div class="slidecontainer" ng-show="question.question_id === 20">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 20">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                            </span>
                            <br>
                            <div class="slidecontainer" ng-show="question.question_id === 21">
                                <input type="range" min="1" max="5" value="3" class="slider">
                            </div>
                            <span ng-show="question.question_id === 21">
                                <span class="slider-values">{{question.responses[0]}}</span>
                                <span class="slider-values">{{question.responses[1]}}</span>
                                <span class="slider-values">{{question.responses[2]}}</span>
                                <span class="slider-values">{{question.responses[3]}}</span>
                                <span class="slider-values">{{question.responses[4]}}</span>
                            </span>
                            <div ng-show="question.question_id === 22">
                                    <p>{{question.responses[0]}}<input type="number" class="smallInput">%</p>
                                    <p>{{question.responses[1]}}<input type="number" class="smallInput">%</p>
                                    <p>{{question.responses[2]}}<input type="number" class="smallInput">%</p>
                                    <p>{{question.responses[3]}}<input type="number" class="smallInput">%</p>
                                    <p>{{question.responses[4]}}<input type="number" class="smallInput">%</p>
                                    <p>{{question.responses[5]}}<input type="number" class="smallInput">%</p>
                            </div>
                            <br>
                        </div>
                    </div>
                    <a href="#complete">
                        <button type="button" class="btn btn-default" ng-click="sc.saveResponses(selectedResponse)">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>