<div>
    <a href="#/user">Home</a>
</div>
<div ng-cloak class="container-fluid survey-background">
    <div class="row">
        <div class="col-lg-10">
            <!--- tabs -->
            <ul class="nav nav-tabs" id="survey-background">
                <li class="survey-tabs">
                    <a href="#survey">My People</a>
                </li>
                <li class="survey-tabs">
                    <a href="#location">My Workplace</a>
                </li>
                <li class="survey-tabs">
                    <a href="#amenities">My Amenities</a>
                </li>
                <li class="survey-tabs">
                    <a href="#brand">My Company</a>
                </li>
                <li class="active survey-tabs">
                    <a href="#retention">My Worklife</a>
                </li>
                <li class="survey-tabs">
                    <a href="#conclusion">My Satisfaction</a>
                </li>
            </ul>
            <!--- question block -->
            <div class="well well-md">
                <br>
                <div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit">
                        <div class="survey-questions">{{question.question}}
                            <div class="slidecontainer" ng-show="question.question_id === 27">
                                <input type="range" min="1" max="5" value="3" class="slider" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 27" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values">{{response.response_text}}</span>
                            </span>
                            <div class="slidecontainer" ng-show="question.question_id === 28">
                                <input type="range" min="1" max="5" value="3" class="slider ret2" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 28" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values ret2">{{response.response_text}}</span>
                            </span>
                            <div class="slidecontainer" ng-show="question.question_id === 29">
                                <input type="range" min="1" max="5" value="3" class="slider ret3" ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                            </div>
                            <span ng-show="question.question_id === 29" ng-repeat="response in question.responses | orderBy : 'id'">
                                <span class="slider-values ret3">{{response.response_text}}</span>
                            </span>
                        </div>
                    </div>
                    <div ng-show="question.question_id === 30"></div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 31">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 32">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 33">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 34">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 35">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="question in sc.retention.list | limitTo:sc.retentionLimit" ng-show="question.question_id === 36">
                        <div class="survey-questions">{{question.question}}
                            <div class="dropdown">
                                <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                                    <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
                                </select>
                                <br>
                            </div>
                        </div>
                    </div>
                    <a href="#conclusion">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-right"></span> Next
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>