<div>
<a href="#/user">Home</a>
</div>
<div ng-cloak layout-sm="container" layout-lg="column" id="survey-background">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom class="survey-head">
      <md-tab label="one" class="tabs">
        <md-content class="md-padding" layout-align="end center" id="survey-background">
          <span class="md-headline">Transit Questions</span>
          <md-card class="Q-card">
            <md-card-title>
              <md-card-title-text class="Q-text" layout-align="end center">
                <h1 class="md-display-2">Tab One</h1>
                <h2>Question 1</h2>
                <br>
                <md-card-actions layout="column" layout-align="end center">
                  <md-button>Answer 1</md-button>
                  <md-button>Answer 2</md-button>
                  <md-button>Answer 3</md-button>
                  <md-button>Answer 4</md-button>
                </md-card-actions>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </md-content>
      </md-tab>
      <md-tab label="two" class="tabs">
          <md-content class="md-padding" id="survey-background">
              <span class="md-headline">Amenities Questions</span>
              <md-card class="Q-card">
                <md-card-title>
                  <md-card-title-text class="Q-text" layout-align="end center">
                    <h1 class="md-display-2">Tab Two</h1>
                    <h2>Question 2</h2>
                    <br>
                    <md-card-actions layout="column" layout-align="end center">
                      <md-button>Answer 1</md-button>
                      <md-button>Answer 2</md-button>
                      <md-button>Answer 3</md-button>
                      <md-button>Answer 4</md-button>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </md-content>
      </md-tab>
      <md-tab label="three" class="tabs">
          <md-content class="md-padding" id="survey-background">
              <span class="md-headline">Brand Questions</span>
              <md-card class="Q-card">
                <md-card-title>
                  <md-card-title-text class="Q-text" layout-align="end center">
                    <h1 class="md-display-2">Tab Three</h1>
                    <h2>Question 3</h2>
                    <br>
                    <md-card-actions layout="column" layout-align="end center">
                      <md-button>Answer 1</md-button>
                      <md-button>Answer 2</md-button>
                      <md-button>Answer 3</md-button>
                      <md-button>Answer 4</md-button>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </md-content>
      </md-tab>
      <md-tab label="four" class="tabs">
          <md-content class="md-padding" id="survey-background">
              <span class="md-headline">Layout Questions</span>
              <md-card class="Q-card">
                <md-card-title>
                  <md-card-title-text class="Q-text" layout-align="end center">
                    <h1 class="md-display-2">Tab Four</h1>
                    <h2>Question 4</h2>
                    <br>
                    <md-card-actions layout="column" layout-align="end center">
                      <md-button>Answer 1</md-button>
                      <md-button>Answer 2</md-button>
                      <md-button>Answer 3</md-button>
                      <md-button>Answer 4</md-button>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </md-content>
      </md-tab>
      <md-tab label="five" class="tabs">
          <md-content class="md-padding" id="survey-background">
              <span class="md-headline">Recruitment Questions</span>
              <md-card class="Q-card">
                <md-card-title>
                  <md-card-title-text class="Q-text" layout-align="end center">
                    <h1 class="md-display-2">Tab Five</h1>
                    <h2>Question 5</h2>
                    <br>
                    <md-card-actions layout="column" layout-align="end center">
                      <md-button>Answer 1</md-button>
                      <md-button>Answer 2</md-button>
                      <md-button>Answer 3</md-button>
                      <md-button>Answer 4</md-button>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </md-content>
      </md-tab>
</div>