<header ng-include="'/views/partials/survey-header.html'" class=""></header>
<!-- <div>
  <a href="#/user">Home</a>
</div> -->
<div ng-cloak class="container-fluid survey-background">
  <div class="row">
    <div class="col-lg-10">
      <!--- tabs -->
      <ul class="nav nav-tabs">
        <li class="active survey-tabs">
          <a href="#survey/">My People</a>
        </li>
        <li class="survey-tabs">
          <a href="#location/">My Workplace</a>
        </li>
        <br>
        <li class="survey-tabs">
          <a href="#amenities/">My Amenities</a>
        </li>
        <br>
        <li class="survey-tabs">
          <a href="#brand/">My Company</a>
        </li>
        <br>
        <li class="survey-tabs">
          <a href="#retention/">My Worklife</a>
        </li>
        <li class="survey-tabs">
            <a href="#conclusion/">My Satisfaction</a>
        </li>
      </ul>
      <!--- question block -->
      <div class="well well-md">
        <br>
        <div>
          <div ng-repeat="question in sc.demographics.list | limitTo:sc.demographicLimit">
            <p class="survey-questions">{{question.question}}</p>
            <p class="dropdown">
              <select ng-model="question.selectedResponse" ng-change="sc.saveResponses(question)">
                <option ng-repeat="response in question.responses" ng-value="response">{{response.response_text}}</option>
              </select>
              <br>
              <br>
            </p>
          </div>
        </div>
        <br>
        <a href="#location/">
          <button type="button" class="btn btn-danger">
            <span></span> Next
          </button>
        </a>
      </div>
    </div>
  </div>
</div>